body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

li strong {
    display: block;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.metrics {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Space between images */
}

.metrics img {
    width: 100%; /* Adjust this value as needed */
    max-width: 600px; /* Adjust this value as needed */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    text-align: center;
}
